body{
  color: white;
  background: black;
}
h1{
  color: #ff0;
}
h1#loading{
  font-family: Impact, sans-serif;
  font-weight: normal;
  font-size: 32pt;
  text-align:center;
  padding-left: 3px;
  padding-right: 3px;
  position: absolute;
  top: 5px;
  left: 500px;
}
h2#subtitle{
  font-family: Impact, sans-serif;
  font-weight: normal;
  color: white;
  text-align:center;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 2.5em;
  line-height: 0.1em;
  position: absolute;
  top: 50px;
  left: 570px;
  color: #fff;
}
#stringy {
  font-size: 3em;
  font-family: Impact, sans-serif;
  font-weight: normal;
  text-shadow: 3px 3px 5px black;
  color: white;
  position: absolute;
  top:500px;
  left: 0px;
  width: 100%;
  text-align:center;
  z-index: 140;
}
#joust{
  position: relative;
  top: 0px;
  left: 0px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#hold {
  margin-left:auto;
  margin-right:auto;
  text-align:center; 
  width: 960px;
  position: relative;
}

#donate{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#logo {
  text-align:left;
  font-family: Impact, sans-serif;
  font-weight: normal;
  font-size: 60pt;
  height: 120px;
}
#logo a{
  font-family: Impact, sans-serif;
  font-weight: normal;
  color: white;
}
#logo a:hover{
  color: #ff8;
  text-decoration: underline;
}
a:link { 
  color: #ffffff;
  text-decoration: none;
}
